
@{
    ViewData["Title"] = "GuessingGame";
}

<h1>Guessing Game</h1>
<form asp-controller="GuessingGame" asp-action="Index" method="post">
    <label for="guess">Guess number (1 - 100):</label><br>
    <input type="number" name="guess"><br><br>
    <input type="submit" value="Submit">
</form>
<br>
@if (ViewBag.Msg != null)
{
    <div>@ViewBag.Msg</div>
}