
@{
    ViewData["Title"] = "Doctor";
}

<h1>Doctor</h1>
<form action="/Doctor/FeverCheck">
    <label for="temperature">Temperature:</label><br>
    <input type="number" name="temperature"><br><br>
    <input type="submit" value="Submit">
</form>