
@{
    ViewData["Title"] = "Doctor";
}

<h2>Doctor</h2>
<form method="post">
    <label for="temperature">Temperature:</label><br>
    <input type="number" name="temperature"><br><br>
    <input type="submit" value="Submit">
</form>
<br>
@if (ViewBag.Msg != null)
{
    <div>@ViewBag.Msg</div>
}