
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<a href="https://github.com/ShahabGaroosi/MVC-Basics">MVC-Basics</a><br>
<a href="https://github.com/ShahabGaroosi/Sokoban">Sokoban</a><br>
<a href="https://github.com/ShahabGaroosi/Html-CSS">Html-CSS</a><br>
<a href="https://github.com/ShahabGaroosi/Vending-Machine">Vending-Machine</a><br>
<a href="https://github.com/ShahabGaroosi/ToDoIt">ToDoIt</a><br>
<a href="https://github.com/ShahabGaroosi/Calc">Calc</a><br>
<a href="https://github.com/ShahabGaroosi/Hangman">Hangman</a><br>
